<h1><%= @book.title %></h1>
<h4>Support this page by clicking on the picture and purchasing anything from amazon</h4>
<div class='row'>
	<div class='col 1 offset-s4'><%= @link %></div>
</div>

<div class='row'>
	<div class='col 3 offset-s4'><%= render 'comments/comment' %></div>
</div>
<div class='row'>
	<div class='col 3 offset-s4'><h5> Upvote Count : <%= @book.votes.count %></h5></div>
</div>
<div class='row'>
	<div class='col 3 offset-s4'><h3>Add Comment</h3></div>
</div>	
	<% if !logged_in? %>
		<div class='row'>
			<div class='col 3 offset-s4'><h3>Log in to add comment or Upvote</h3></div>
			
		</div>
	<% else %>
		<div class='row'>
			<div class='col 3 offset-s4'><%= render 'votes/vote' %></div>
		</div>		

		<div class='row'>
			<div class='col 3 offset-s4'><%= render 'comments/form' %></div>	
		</div>	
	<% end %>

