<h1><%= @book.title %></h1>
<h3>Support this page by clicking on the picture and purchasing anything from amazon</h3>

<%= @link %>

<% if @book.comments %>
	<% @book.comments.each do |comment| %>
		<p>Username: <strong><%= comment.commenter.username %></strong></p>
		<p><%= comment.text %></p>
	<% end %>
<% end %>

<h2>Add Comment</h2>

<% if !logged_in? %>
	<h2>Log in to add comment</h2>
<% else %>
	<%= form_for ([@book, @book.comments.build]) do |f| %>
		<p>
			<%= f.label :text %><br>
			<%= f.text_area :text %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
<% end %>